* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.design {
    max-width: 400px;
    height: 500px;
    text-align: center;
    margin: auto;
}

.table {
    margin-top: 100px;
    width: 400px;
    height: 400px;
    border-top: 1px solid black;
    border-radius: 15px; 
    border-spacing: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: separate; 
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
}

.table td,
.table th {
  cursor: pointer;
}

.table tr:first-child td,
.table tr:first-child th {
  cursor: default;
}